<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.newsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".refactor.NewsApplication"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/newspaper_icon"
        android:inputType="textNoSuggestions"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateVisible|adjustResize">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/details_label" />
        <activity
            android:name=".FavouritesActivity"
            android:label="@string/favourites_label" />

        <provider
            android:name=".data.NewsProvider"
            android:authorities="com.example.android.newsapp"
            android:exported="false">

        </provider>
    </application>

</manifest>
